@{
    ViewBag.Title = "Employee Dashboard";
}

<div class="jumbotron">
    <h1>CVGS - Employee Dashboard</h1>
    <p class="lead">The employee portal allows employees to perform standard operations quickly from a central location.</p>
</div>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-4">
        <a href="@Url.Action("Pending", "Reviews")" class="dashboard__tile--employee">
            <div class="tile__content">
            </div>
            <div class="tile__label">Pending Reviews</div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("All", "Order")" class="dashboard__tile--employee">
            <div class="tile__content">
            </div>
            <div class="tile__label">Orders</div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Members")" class="dashboard__tile--employee">
            <div class="tile__content">
            </div>
            <div class="tile__label">Members</div>
        </a>
    </div>
</div>
<div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Index", "Reports")" class="dashboard__tile--employee">
                <div class="tile__content">
                </div>
                <div class="tile__label">Reports</div>
            </a>
        </div>
</div>

