@{
    ViewBag.Title = "Employee Dashboard";
}

<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-4">
        <a href="@Url.Action("Pending", "Reviews")" class="dashboard__tile">
            <div class="tile__content">
            </div>
            <div class="tile__label">Pending Reviews</div>
        </a>
    </div>
</div>

