body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    flex-grow: 1;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #418cd5;
}

.search-bar {
    max-width: 300px;
}


/* Auth page styles */
.auth__container {
    max-width: 500px;
    margin: 0 auto 25px auto;
    padding: 50px 30px;
    background-color: white;
    border-radius: 0 0px 2px 2px;
}

.auth__container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.auth__container form {
    max-width: 400px;
    margin: 0 auto;
}

    .auth__container input[type="text"], .auth__container input[type="password"], .auth__container input[type="email"] {
        max-width: 100%;
        width: 100%;
        padding: 10px;
        border: 1px solid lightgrey;
        border-radius: 4px;
    }

.auth__container input[type="submit"]
{
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
}


/* Dashboard tiles */
.dashboard__tile,.dashboard__tile--employee {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 175px;
    text-decoration: none;
    background-color: indianred;
    border-radius: 5px;
}

.dashboard__tile--employee {
    background-color: dodgerblue;
}

.dashboard__tile:hover { text-decoration: none; }
.dashboard__tile--employee:hover { text-decoration: none; }

.tile__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.tile__label {
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.dashboard__tile:not(.disabled):hover .tile__label, .dashboard__tile--employee:not(.disabled):hover .tile__label {
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

/* Disabled dashboard tile styles */
.dashboard__tile.disabled,.dashboard__tile--employee.disabled {
    background-color: lightgrey;
}

.dashboard__tile.disabled .tile__content, .dashboard__tile--employee.disabled .tile__content {
    color: darkgrey;
    font-size: 18px;
}


/* Reports */
.report-list {
    list-style-type: none;
}

.report-list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid lightgrey;
}

.report-list li:first-of-type {
    border-top: 1px solid lightgrey;
}

.report-list__label {
    font-size: 16px;
}

.report-list__buttons {
    margin-left: auto;
}

.report-list__button {
    display: block;
    width: 100px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    background: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 2px;
}

.report-list__button:hover {
    color: white;
    text-decoration: none;
    border-color: darkblue;
}

.report-list__button.disabled {
    background: lightgrey;
    color: black;
    border-color: lightgrey;
    cursor: not-allowed;
}

.review-textarea {
    max-width: none;
    width: 67%;
}

td.nowrap{
    white-space: nowrap;
}


/* Profile */

.profile__quote {
    display: block;
    margin: 20px 0;
    padding-left: 10px;
    font-size: 16px;
    font-style: italic;
    border-left: 3px solid #EEEEEE;
}

.profile__links {
    display: flex;
    flex-direction: column;
}

.profile__links a:first-of-type {
    border-top: 2px solid #424242;
}

.profile__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    border-bottom: 2px solid #424242;
}

.profile__link:not(.disabled):hover {
    font-weight: bold;
    text-decoration: none;
    border-color: #1E88E5;
}

.profile__link.disabled {
    color: #757575;
    font-style: italic;
    cursor: not-allowed;
}

/* Games */

.game__title {
    margin: 10px 0;
    padding: 10px;
    border-left: 5px double #1E88E5;
}