body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    flex-grow: 1;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #418cd5;
}


/* Auth page styles */
.auth__container {
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: white;
    border-radius: 0 0px 2px 2px;
}

.auth__container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.auth__container form {
    max-width: 300px;
    margin: 0 auto;
}

.auth__container input[type="text"],input[type="password"] {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.auth__container input[type="submit"]
{
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
}


/* Dashboard tiles */
.dashboard__tile {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 175px;
    text-decoration: none;
    background-color: indianred;
    border-radius: 5px;
}

.dashboard__tile:hover { text-decoration: none;
}

.tile__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.tile__label {
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.dashboard__tile:not(.disabled):hover .tile__label {
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

/* Disabled dashboard tile styles */
.dashboard__tile.disabled {
    background-color: lightgrey;
}

.dashboard__tile.disabled .tile__content {
    color: darkgrey;
    font-size: 18px;
}