@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>CVGS</h1>
    <p class="lead">The Conestoga Virtual Game Store is an online games retailer, specializing in digital distribution as a way of allowing students to publish their own games.</p>
</div>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Games")" class="dashboard__tile">
            <div class="tile__content">
            </div>
            <div class="tile__label">Game Search</div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Events")" class="dashboard__tile">
            <div class="tile__content">
            </div>
            <div class="tile__label">Events</div>
        </a>
    </div>
    <div class="col-md-4">
        <div class="dashboard__tile disabled">
            <div class="tile__content">
                N/A
            </div>
            <div class="tile__label">Friends</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="dashboard__tile disabled">
            <div class="tile__content">
                N/A
            </div>
            <div class="tile__label">Library</div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Members")" class="dashboard__tile">
            <div class="tile__content">
            </div>
            <div class="tile__label">Accounts</div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Reports")" class="dashboard__tile">
            <div class="tile__content">
            </div>
            <div class="tile__label">Reports</div>
        </a>
    </div>
</div>
