<nav class="profile__links col-md-3 col-lg-2">
    <a href="@Url.Action("Index", "Account")" cl class="profile__link">Profile</a>
    <div class="profile__link disabled">Security</div>
    <a href="@Url.Action("Index", "CreditCard")" class="profile__link">Credit Cards</a>
    <a href="@Url.Action("Index", "Address")" cl class="profile__link">Addresses</a>
    <div class="profile__link disabled">Orders</div>
</nav>
